@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background: #000000;
    cursor: none;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main h1 {
    color: white;
    font-size: 75px;
}

.cursor {
    z-index: 999;
    position: fixed;
    background: #e82626;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #e86326, 0 0 60px #26e860, 0 0 100px #3026e8,;
    transform: translate(-50%, -50%);
    animation: colors 5s infinite;
    display: none;
}

@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(360deg);
    }
}

.cursor::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2696E8;
    opacity: 0.2;
    transform: translate(-30%, -30%);
}